<section class="container travel">
  <div class="travel__slides block">
    <div data-aos="fade-up" data-aos-duration="650" class="travel__slide">
      <div class="slide__image">
        <img src="./assets/images/travell.png" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>24</span>
          </div>
          <div>
            <i class="far fa-edit"></i>
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="800" class="travel__slide">
      <div class="slide__image">
        <img src="./assets/images/travell-2.jpg" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>24</span>
          </div>
          <div>
            <i class="far fa-edit"></i>
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1100" class="travel__slide">
      <div class="slide__image">
        <img src="./assets/images/travell-3.jpg" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>24</span>
          </div>
          <div>
            <i class="far fa-edit"></i>
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1300" class="travel__slide">
      <div class="slide__image">
        <img src="./assets/images/travell-4.jpg" alt="" />
      </div>
      <div class="slide__detail">
        <div class="slide__header">
          <span class="badge badge--primary">ویژه</span>
          <p>اقامت رایگان &bull; سفر سه روزه</p>
        </div>
        <p class="slide__title">سفر به قلب کویر</p>
        <div class="slide__icons">
          <div class="">
            <i class="fas fa-heart"></i>
            <span>12</span>
            <i class="far fa-eye"></i>
            <span>24</span>
          </div>
          <div>
            <i class="far fa-edit"></i>
            <i class="far fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
